p{
    font-size: large;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    color: aqua;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.masthead{
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    
}
.rounded{
    background-color: #e0e0e0;
    width: 85%;
    margin: 50px;
    
    
    
    
}

.Panel h3{
    font-size: small;
    padding-left: 7%;
    color: white;
}

.cityContainer h4{
    color: #e0e0e0;

}

.cityContainer{
    padding-top: 20%;
}

.Panel p{
    color: #e0e0e0;
}
.align-middle h1{
    display: inline;
    font-weight: 400;
    font-size: 150px;
    color: white;
}
.align-middle h2{
    display: inline;
    font-weight: 300;
    font-size: 50px;
    color: white;
}

.align-middle h3{
    font-weight: 100;
    color: white;
}
button[type=submit]{
    background-color: #04AA6D;
    float: right;
    padding: 35px;
    border-radius: 5px;
    border-style: none;
    
    
}


body {
	background: #DDD;
	font-size: 15px;
}
.wrap {
  margin: 50px 100px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
  padding-top: 2%;
  
  
}

input[type="text"] {
    margin-top: 20%;
  
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background: transparent;
    
}




input[type="submit"]:hover {
  opacity: 0.8;
}



/* styling lable */
.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

/* hiding checkbox */
.toggle input {
    display: none;
}


/* Creating slider */
.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

/* Adding slider effect */
.toggle input:checked + .slider {
    background-color: #2196F3;
}
.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}




/* Adding text in the toggle button */
.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}